@using Adelys.Models
@{
    ViewData["Title"] = "Adelys";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Adelys</h1>
    </div>
</div>
<p>@CubeChiant.Name</p>
<div class="row">
    <div class="col-sm">Membres</div>
    <div class="col-sm">Dynmap</div>
    <div class="col-sm">Help</div>
</div>
<div class="row">
  <h1>Adelys</h1>
  <p>Adelys est un serveur minecraft entre amis regroupent différents styles</p>
    <ul>
        <li>Survival</li>
        <li>Creatif</li>
        <li>Exploration</li>
    </ul>
</div>