@using Adelys.Models
@{
    ViewData["Title"] = "Adelys";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Adelys</h1>
    </div>
</div>
<p>@CubeChiant.Name</p>
<div class="row">
    <div class="col-sm">Membres</div>
    <div class="col-sm">Dynmap</div>
    <div class="col-sm">Help</div>
</div>
<div class="row">
  <h1>Suite</h1>
  <p>J'aime les changements</p>
  <p>Azure go go go</p>
  <p>Test</p>
</div>